/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  display: block;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ex-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: 12px;
}

.ex-app {
  background-color: #F0F1F3;
  margin: 50px auto;
  min-width: 900px;
  max-width: 1000px;
  width: 80%;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 10px;
}

.ex-content {
  display: grid;
  grid-template-columns: 47% 47%;
  grid-template-rows: auto;
  gap: 6%;
  padding: 20px 50px 50px 50px;
  box-sizing: border-box;
  overflow: auto;
}

.ex-custom-toggle {
  text-align: right;
}

.ex-header {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
  font-size: 2em;
}

.ex-footer {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
  font-size: 1em;
  text-align: right;
}

.ex-orange {
  color: #F48021;
}

.ex-column {
  box-sizing: border-box;
  overflow: auto;
  width: 100%
}

.ex-two-col-input {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: auto;
  gap: 2%;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom: 2px;
}

.ex-one-col-input {
 display: block;
  box-sizing: border-box;
  overflow: auto;
  margin-bottom: 15px;
}

.ex-inputrow {
  margin-bottom: 5px;
}

.ex-mini-button {
  color: black;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 9pt;
}

.ex-mini-button:hover {
  border-color: black
}

.custom-file-upload {
  width: min-content;
  display: block;
  padding: 2px;
  cursor: pointer;
  font-size: 9px;
}

.custom-file-input {
  color: transparent;
  width: min-content;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "upload";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 3px 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 9pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active {
  outline: 0;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

@media (max-width: 900px) {

  .ex-app {
    width: 100%;
    margin: 0;
    min-width: unset;
  }
  .ex-content {
    grid-template-columns: 100%;
    padding: 10px;
  }

  .ex-app{
    border-radius: 0px;
    margin: 0;
  }
}