.ex-image-container{

    box-sizing: border-box;
    height: 300px;
    overflow: hidden;
}

.ex-header2 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 25px;
  }

.fileInfoItem {
    padding: 4px;
    margin-bottom: 2px;
    background-color: #cacaca;
}

.closedPreview {

    transform: scaleY(0);
    height: 0px;
    transform-origin: top;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-ransition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out
  }

 .openPreview  {

    transform-origin: top;
    height: 100%;
    transform: scaleY(1);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-ransition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out

  }


    

        .errorDisplay {
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            transform: scale(1);
  
            display: none;
            padding: 15px;
            color: black;
            background-color: rgb(236, 230, 139);
            border-radius: 5px;
            margin: 10px 30px 10px 30px
        }

        .loadDisplay{
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top:0;
            z-index: 1000;
            background-color: white;
            opacity: 0.8;

        }

        .spinner {
            margin: 30% auto;
                border: 16px solid #b3b3b3; /* Light grey */
                border-top: 16px solid #3498db; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                opacity: 0.9;
                animation: spin 2s linear infinite;
                z-index: 1000;
        
              }
              
              @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
             
        }



.ex-header-square {
    width: 50px;
    height: 100%;
    background-color: #f36d00;
    color: #f36d00;
    margin-right: 10px;
}

.previewContainer {
    display: block;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
 
}

.preview {
    display: block;
    position: relative;
    overflow: hidden;
    background-color: white;
    max-height: 100%;
    min-height: 50%;
    max-width: 100%;
    border: 4px solid black;
    margin: 10% auto;
    box-shadow: black;
    -webkit-box-shadow: 0px 0px 37px 10px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 0px 37px 10px rgba(0,0,0,0.48);
box-shadow: 0px 0px 37px 10px rgba(0,0,0,0.48);
}

.ex-toolbar-right {
    text-align: right;
  }
  
.ex-uploaded-image{
    display: block;


    /* This rule is very important, please don't ignore this */
    max-width: 100%;
    max-height: 300px;
}

.file-upload-div {
 width: 100px;
 box-sizing: border-box;
 overflow: hidden;
 border: 1px solid;
}
.ex-toolbar-top {
    display: grid;
    align-items: center;
    grid-template-columns: 70% auto;
    padding: 4px 10px 4px 10px;
    background-color: #cacaca;
    font-size: 12px;
    box-sizing: border-box;
    overflow: auto;
}

.ex-toolbar {
    display: grid;
    grid-template-columns: 100%;
    justify-content: end;
    align-items: center;
    background-color: #d8d8d8;
    padding: 4px 10px 4px 10px;
  }

  .display {
      margin-top: 15px;
      font-size: 12px;
  }



