.ex-dropdown {
    outline: none;
    font-size: 1em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid white;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.ex-dropdown:hover {
    border: 1px solid #F48021;
}

.ex-label {
    padding-bottom: 2px;
    font-weight: 700;
}

.ex-options {
    position: absolute;
    z-index: 9999;
    margin-top:10px;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    min-width: 200px;
    min-height: min-content;
    cursor: pointer;
    overflow: scroll;
    border-radius: 5px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    overflow: auto;

}

.ex-option {
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: auto;
    transition: all 0.5s;
}

.ex-product-picture {
    opacity: 1;
    transition: all 0.5s;
    width: 100%;
    z-index: 1000;
    border-radius: 5px;
}

.ex-product-picture:hover {
    transform: scale(1.1); 

}

.ex-option:hover {

    transform: translate(5px, 0px);
}

.ex-optionWithPicture {
    max-width: 400px;
    display: grid;
    grid-template-columns: 15% auto;
    gap: 20px;
    grid-template-rows: auto;
    padding: 5px;
    cursor: pointer;
    align-items: center;
}

.ex-option:hover, .ex-optionWithPicture:hover{
    background: #F2f2f2
}

.closed {

    transform: scaleY(0);
    height: 0px;
    transform-origin: top;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-ransition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out
  }

 .open  {

    transform-origin: top;
    transform: scaleY(1);
    height: min-content;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-ransition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out

  }

  .hidden {
      transform: scaleY(0);
      height: 0;

  }

@media (max-width: 900px) {
    .ex-options {
        position: fixed;
        bottom:0;
        left:0;
        width: 100%;
        background-color: black;
        color: white;
        border-radius: 0px;
        opacity: 0.7;
        min-height: 10%;
    }

    .open, .closed  {

        transform-origin: bottom;
    }
  }