

.ex-button {
  appearance: none;
  background-color: #F48021;
  color: white;
  border: none;
  text-transform: uppercase;
  width: 100%;
}

.ex-button:hover{
  background-color: #f36d00;
}

.normal {
  font-size: 14px;
  padding: 8px;
}

.large {
  font-size: 22px;
  padding: 10px;
}


.add-button-div{

display: grid;
justify-items: right;
}

.ex-quote {
  text-align: right;
}

.button-div {
  display: grid;
  grid-template-columns: 65% 30%;
  text-align: right;
  justify-items: right;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.order-button-div {
  text-align: right;
  margin-bottom: 20px;
}

.ex-item-wrapper{
  display: grid;
  grid-template-columns: 60% 10% 30%;
  text-align: right;
}

.ex-amount {
  text-align: right;
  font-size: 27px;
  margin-bottom: 20px;
}

.ex-item {
  font-size: 15px;
  text-align: left;
  font-weight: 600;
}

.ex-item-desc {
  font-size: 12px;
}

.ex-header-left{
  text-align: left;
}


.ex-quote-header {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 15px;
}

.ex-qty-input{
  appearance: none;
  border: none;
  padding:3px;
  width: 30px;
  height: 27px;
  align-items: center;
  outline: none;
  text-align: center;
  font-size: 15px;
}

