

.ex-input {
    outline: none;
    font-size: 1em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 3px 10px 3px 10px;
    border-radius: 0px;
    border: 2px solid white;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 5px;
}

.ex-input:hover {
    border: 1px solid  #F48021
}

.ex-label {
    padding: 5px 2px;
    font-weight: 600;
}