<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div>
        <h3>Confirm your account</h3>
        <br>
        <p>Hello {{name}}!</p>
        <p>Your account has been created.</p>
        <p>Click the following link to confirm your registration.</p>
        <br>
        <p><a href="{{link}}">Click here to confirm your account</a></p>
        <br>
        <br>
        <p><i>You have 24 hours to confirm your account.</i></p>
    </div>

</body>

</html>